/*
Elements
*/

body {
    padding-bottom:50px;
}

h1 + blockquote,
h1 + blockquote p,
h1 + blockquote li,
#content > h4 + blockquote,
#content > h4 + blockquote * {
    font-size:12px;
}

/* Given name */
h1 {
    font-weight:100;
    letter-spacing:-2px;
    margin-bottom:40px;
    text-align:center;
}

/* Family name */
h1 strong {
    margin:0 -0.15em;
}

/* About */
h1 + blockquote {
    border:0px;
    padding:0px;
    margin:0px;
}

h1 + blockquote > h2 {
    font-size:17px;
    line-height:1em;
    margin-top:2em;
}

h1 + blockquote > h2:first-child {
    margin-top:0;
}

h1 + blockquote p,
h1 + blockquote li,
h1 + blockquote a {
    font-weight:300;
    line-height:1.25;
}

h1 + blockquote p {
    margin-bottom:0.5em;
}

/* Category */
#content > h2 {
    clear:right;
    font-size:17px;
    line-height:1em;
    margin-top:2em;
}

/* Headline */
#content > h4 {
    clear:right;
    font-size:12px;
    margin:0;
}

#content > blockquote + h4 {
    margin-top:10px;
}

/* Period */
#content > h4 > code:first-child {
    float:right;
    font-size:10px;
    font-weight:300;
    line-height:1.25;
    margin-left:5px;
}

/* Title */
#content > h4 > code:first-child + strong {
}

/* Subtitle */
#content > h4 > code:first-child + strong + code {
    float:right;
    font-size:10px;
    margin-left:5px;
    font-weight:300;
    line-height:1.25;
}

/* Description */
#content > h4 + blockquote {
    border:0px;
    color:#666666;
    padding:0px;
    margin-bottom:0;
    clear:right;
}

#content > h4 + blockquote * {
    line-height:1.25;
    font-weight:300;
}

#content > h4 + blockquote > ul {}

#content > h4 + blockquote > ul > li {
    white-space:nowrap;
    overflow:hidden;
}

#content > h4 + blockquote > ul > li > code:first-child {
    float:right;
    font-size:10px;
    z-index:2;
    position:relative;
}


/*
Styles
*/
body,
code,
p,
li,
a {
    color:#444444;
}

p,
li {
    font-size:12px;
}

ul {
    list-style-type:none;
    margin-left:0px;
    margin-bottom:0px;
}

li {
    clear:right;
}

a,
abbrev,
accronym,
span.more {
    text-decoration:none;
    border-bottom:.1em dotted;
}

a:hover,
abbrev:hover,
accronym:hover,
span.more:hover {
    text-decoration:none;
    border-bottom:.1em solid;
}

.page-break {
    display:none;
}


/*
Desktop
*/
@media screen and (min-width: 600px) {
    h1 + blockquote {
        float:left;
        text-align:right;
        margin-left:-230px;
        width:200px;
    }
    h1 + blockquote > h2 {
        color:#999999;
    }
    h1 + blockquote p,
    h1 + blockquote li,
    h1 + blockquote a {
        color:#999999;
    }
    h1 + blockquote:hover p,
    h1 + blockquote:hover li,
    h1 + blockquote:hover a {
        color:#444444;
    }
}


/*
Print
*/
@media print {
    #content > h4 + blockquote,
    #content > h4 + blockquote * {
        font-size:10px;
    }
    #content > h4 > code:first-child + strong + code {
        float:none;
    }
    h4 {
        font-size:14px;
    }
    a[href]:after {
        content:none !important;
    }
    .page-break {
        display:block;
        page-break-before:always;
    }
    blockquote {
        padding:0px;
        margin:0px;
    }
    code {
        border:0px;
    }
    img {
        display:none;
    }
    h1 + blockquote li {
        display:inline;
    }
    h1 + blockquote li + li:before {
        content:", "
    }
    iframe {
        display:none;
    }
}
