/* Elements */

body {
  background-color:#f3f3f3;
  font-size:0.8rem;
  padding-bottom:2rem;
}

a,
a:hover {
  color:#000000;
}

a,
abbrev,
accronym,
span.more {
  text-decoration:none;
  border-bottom:.1em dotted;
}

a:hover,
abbrev:hover,
accronym:hover,
span.more:hover {
  text-decoration:none;
  border-bottom:.1em solid;
}

abbrev:hover,
accronym:hover,
span.more:hover {
  cursor:help;
}

ul {
  list-style-type:none;
  margin-left:0;
  padding-left:0;
}

li {
  clear:right;
}

.page-break {
  display:none;
}

/* --------------------------------------------------------------------------- */

/* Name - Family name */
#name h1 {
  font-size:3.5rem;
  font-weight:100;
  letter-spacing:-0.05rem;
  margin:1em 0;
  text-align:center;
}

/* Name - Given name */
#name h1 strong {
  margin-right:-0.6rem;
}

/* --------------------------------------------------------------------------- */

/* About */
#about-wrapper {
  text-align:right;
  border-bottom:1px solid;
}

/* About - Headlines */
#about-wrapper blockquote > h2 {
  font-size:1.5rem;
  line-height:1rem;
  margin-top:2rem;
}

/* About - Content */
#about-wrapper p,
#about-wrapper li,
#about-wrapper a {
  font-weight:300;
  line-height:1.25;
}

#about-wrapper p {
  margin-bottom:0.5rem;
}

/* --------------------------------------------------------------------------- */

/* Section */
#experience-wrapper > h1 {
  font-size:3.5rem;
  font-weight:100;
  letter-spacing:-0.05rem;
  margin:1em 0;
  text-align:center;
}

/* Headline */
#experience-wrapper > h4 {
  clear:both;
  font-size:1rem;
  margin:0;
  font-family:var(--bs-font-monospace);
}

/* Company */
#experience-wrapper > h4 > code:first-child + strong {
  font-size:1rem;
}

/* Role */
#experience-wrapper > h4 > code:first-child + strong + code {
  float:right;
  font-size:1rem;
  font-weight:300;
  line-height:1.25;
  margin-left:0.5rem;
}

/* Period */
#experience-wrapper > h4 > code:first-child {
  float:right;
  font-size:1rem;
  font-weight:300;
  line-height:1.25;
  margin-left:0.5rem;
}

/* Description */
#experience-wrapper > h4 + blockquote {
  clear:both;
}

#experience-wrapper > h4 + blockquote * {
  font-weight:300;
  line-height:1.25;
}

/* Company (sub) */
#experience-wrapper > h4 + blockquote > ul {
}

#experience-wrapper > h4 + blockquote > ul > li {
  white-space:nowrap;
  overflow:hidden;
}

/* Period (sub) */
#experience-wrapper > h4 + blockquote > ul > li > code:first-child {
  float:right;
  z-index:2;
  position:relative;
}

/* --------------------------------------------------------------------------- */

/* Desktop */
@media screen and (min-width: 576px) {
}

/* Mobile */
@media screen and (max-width: 576px) {
  /* Name */
  #name {
    overflow:hidden;
  }

  #name h1 {
    margin-right:-2rem;
  }

  /* About */
  #about-wrapper > .container > .row > div:first-child {
    text-align:right;
  }

  #about-wrapper > .container > .row > div:nth-child(2) {
    text-align:left;
  }

  #about-wrapper blockquote > #about {
    margin-top:0;
  }

  #about-wrapper blockquote > #programming {
    margin-top:0.5rem; /* compensate for hidden elements */
  }

  /* Company */
  #experience-wrapper > h4 > code:first-child + strong {
    font-size:0.8rem;
  }

  /* Period */
  #experience-wrapper > h4 > code:first-child {
    font-size:0.8rem;
    margin-top:0.2rem;
  }

  /* Role */
  #experience-wrapper > h4 > code:first-child + strong + code {
    clear:right;
    font-size:0.8rem;
    margin-top:0.2rem;
  }

  /* Description */
  #experience-wrapper > h4 + blockquote {
    font-size:0.7rem;
  }
}

/* Print */
@media print {
  body {
    background-color:#ffffff;
  }

  a[href]:after {
    content:none !important;
  }

  .page-break {
    display:block;
    page-break-before:always;
  }

  /* About */
  #about-wrapper {
    font-size:0.5rem;
  }

  #about-wrapper {
    margin-left:0;
    margin-top:-7rem;
    width:33.33333334%;
  }

  /* About - Headlines */
  #about-wrapper blockquote > h2 {
    font-size:0.6rem;
    margin-top:1rem;
  }

  /* About - Content */
  #about-wrapper p,
  #about-wrapper li,
  #about-wrapper a {
    font-weight:normal;
  }

  /* Section */
  #experience-wrapper > h1 {
    margin:0;
  }

  /* Headline */
  #experience-wrapper > h4 {
    font-size:0.6em;
  }

  /* Company */
  #experience-wrapper > h4 > code:first-child + strong {
    font-size:0.6rem;
  }

  /* Role */
  #experience-wrapper > h4 > code:first-child + strong + code {
    font-size:0.6rem;
  }

  /* Period */
  #experience-wrapper > h4 > code:first-child {
    font-size:0.6rem;
  }

  /* Description */
  #experience-wrapper > h4 + blockquote,
  #experience-wrapper > h4 + ul {
    display:none;
  }
}
